<% provide(:title, 'About') %>
<!doctype html>
<html>
    <head>
        <title> Sample app | <%= yield(:title) %></title>
    </head>
    <body>
        <h1> About us </h1>
        <p>
            Bla bla bla.
        </p>
    </body>
</html>

